body {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  max-height: 100%;
  background: #313a2d;
  font-family: "Poppins", fixedsys, System, sans-serif;
  font-weight: 400;
  color: white;
  overflow-x: hidden;
  font-size: 16px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

center {
  text-align: center;
}

a {
  color: white;
  font-style: underline;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-family: "Poppins", fixedsys, System, sans-serif;
  font-weight: 600;
  line-height: 100%;
}

p {
  color: white;
  margin-right: auto;
}

.cover {
  width: 100%;
}

.logo {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  max-width: 40%;
  padding-top: 2%;
}

.image {
  width: 70%;
}

.footercontainer {
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  width: auto;
  height: 100px;
  text-align: center;
}

.footer {
  color: white;
  font-family: "Poppins", fixedsys, System, sans-serif;
  font-size: 11px;
}

.buttoncontainer {
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  padding-bottom: 4%;
}

/*button stylization*/
.buttons {
  flex: 70px;
  min-height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.home {
  background-image: url("buttons/home.png");
}

.games {
  background-image: url("buttons/games.png");
}

.art {
  background-image: url("buttons/art.png");
}

.blog {
  background-image: url("buttons/blog.png");
}

.about {
  background-image: url("buttons/about.png");
}

/* button animations */
@keyframes home {
  0% {
    background-image: url("buttons/home-2.png");
  }
  100% {
    background-image: url("buttons/home.png");
  }
}

@keyframes games {
  0% {
    background-image: url("buttons/games-2.png");
  }
  100% {
    background-image: url("buttons/games.png");
  }
}

@keyframes art {
  0% {
    background-image: url("buttons/art-2.png");
  }
  100% {
    background-image: url("buttons/art.png");
  }
}

@keyframes blog {
  0% {
    background-image: url("buttons/blog-2.png");
  }
  100% {
    background-image: url("buttons/blog.png");
  }
}

@keyframes about {
  0% {
    background-image: url("buttons/about-2.png");
  }
  100% {
    background-image: url("buttons/about.png");
  }
}

.home:hover {
  animation-name: home;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

.games:hover {
  animation-name: games;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

.art:hover {
  animation-name: art;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

.blog:hover {
  animation-name: blog;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

.about:hover {
  animation-name: about;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

/*games gallery*/

.projects-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.projects {
  flex: 30%;
  width: 100%;
}

.project-image {
  width: 100%;
  border-radius: 2%;
}

.game-page {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.game-page-item {
  flex: 40%;
}

.screenshot {
  margin: auto;
  display: block;
  border-radius: 2%;
  width: 80%;
  height: 45%;
  margin-bottom: 2%;
}

.itch-container {
  max-width: 100%;
  text-align: center;
}

/* ZONELETS */

/*#CONTAINER is the rectangle that contains everything but the background!*/
#container {
  color: white;
}

#content {
  padding: 0;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*RESPONSIVE*/
@media (max-width: 900px) {
  .logo {
    display: block;
    margin: auto;
    max-width: 80%;
  }
  .buttoncontainer {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .game-page-item {
    flex: 100%;
  }
}

@media (max-width: 600px) {
  .buttoncontainer {
    padding-bottom: 10%;
  }
  .projects {
    flex: 100%;
  }
}

/*@media (max-width: 600px) {
  .logo {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    padding-top: none;
  }
  .buttoncontainer {
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .buttons {
    flex: 100%;
    background-position: center;
  }
}*/

/*@media (min-width: 900px) {
    .columncontainer { grid-template-columns: repeat(2, 1fr); }
    .gallerycontainer { grid-template-columns: repeat(2, 1fr); }
    body{margin-left:20%; margin-right:20%;}
    .games{width:12%; height: 4.5vw;}
    .home{width:12%; height: 4.5vw;}
    .art{width:12%; height: 4.5vw;}
    .about{width:12%; height: 4.5vw;}
    .blog{width:12%; height: 4.5vw; background-size:100%;}
  }*/
